<html ng-app="Acceso">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>
		Gestión de Riesgos de Proyecto Software
	</title>
	

</head>
<body onload="Comenzar()" ng-controller="AccesoController">
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">GRPS</a></h1>
			<h3><a href="#">Gestión de Riesgos de Proyecto Software</a></h3>
			</br>
		</div>
		<div ng-show="invitado" id="menu">
			<ul>
				<li class="active"><a href="index.html" accesskey="1" title="">Página Principal</a></li>
				<li><a href="links.html" accesskey="4" title="">Links</a></li>
				<li><a href="login.html" accesskey="5" title="">Iniciar sesión</a></li>
			</ul>
		</div>
		<div ng-show="registrado" id="menu">
			<ul>
				<li><a href="index.html" accesskey="1" title="">Página Principal</a></li>
				<li><a href="proyectos.html" accesskey="2" title="">Proyectos</a></li>
				<li><a href="links.html" accesskey="4" title="">Links</a></li>
				<li class="active"><a href="cerrarSesion.html" accesskey="5" title="">Cerrar sesión</a></li>
			</ul>
		</div>
		<div ng-show="administrador" id="menu">
			<ul>
				<li><a href="index.html" accesskey="1" title="">Página Principal</a></li>
				<li><a href="proyectos.html" accesskey="2" title="">Proyectos</a></li>
				<li><a href="links.html" accesskey="3" title="">Links</a></li>
				<li><a href="gestion.html" accesskey="4" title="">Gestión</a></li>
				<li class="active"><a href="cerrarSesion.html" accesskey="5" title="">Cerrar sesión</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="liveclock"></div>
<div class="wrapper">
	<div id="welcome" class="container">
		<div class="title">
			<h3>Cerrar sesión</h3>
		</div>
		<br>
		<div class="row">
	    	<div class="col-xs-3 col-md-3">
	    	</div>
	    	<div class="col-xs-6 col-md-6">
	    		<button ng-click="cerrarSesion()" style="width:100%; height:100px;" class="btn btn-primary btn-lg glyphicon glyphicon-off"></button>
	    	</div>
	    	<div class="col-xs-3 col-md-3">
	    	</div>
    	</div>
	</div>
</div>

<link href="./styles/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="./styles/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="reloj.js"></script>
<script src="../angular/angular.min.js"></script>
<script src="../angular/angular-route.js"></script>
<script src="../angular/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="../angular/angular-cookies.js"></script>
<script src="../angular/acceso.js"></script>
</body>
</html>