<html ng-app="GestionUsuarios">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>
		Gestión de Riesgos de Proyecto Software
	</title>
</head>
<body onload="Comenzar()" ng-controller="userController">
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">GRPS</a></h1>
			<h3><a href="#">Gestión de Riesgos de Proyecto Software</a></h3>
			</br>
		</div>
		<div ng-show="invitado" id="menu">
			<ul>
				<li><a href="index.html" accesskey="1" title="">Página Principal</a></li>
				<li><a href="links.html" accesskey="4" title="">Links</a></li>
				<li><a href="login.html" accesskey="5" title="">Iniciar sesión</a></li>
			</ul>
		</div>
		<div ng-show="registrado" id="menu">
			<ul>
				<li><a href="index.html" accesskey="1" title="">Página Principal</a></li>
				<li><a href="proyectos.html" accesskey="2" title="">Proyectos</a></li>
				<li><a href="links.html" accesskey="4" title="">Links</a></li>
				<li><a href="cerrarSesion.html" accesskey="5" title="">Cerrar sesión</a></li>
			</ul>
		</div>
		<div ng-show="administrador" id="menu">
			<ul>
				<li><a href="index.html" accesskey="1" title="">Página Principal</a></li>
				<li><a href="proyectos.html" accesskey="2" title="">Proyectos</a></li>
				<li><a href="links.html" accesskey="3" title="">Links</a></li>
				<li class="active"><a href="gestion.html" accesskey="4" title="">Gestión</a></li>
				<li><a href="cerrarSesion.html" accesskey="5" title="">Cerrar sesión</a></li>
			</ul>
		</div>	
	</div>
</div>
<div id="liveclock"></div>
<div class="wrapper">
	<div id="welcome" class="container">
		<div class="title">
			<h3>Crear usuario</h3>
		</div>
		<div ng-show="mensajeWarning" class="alert alert-warning text-center" role="alert">
  			{{mensaje}}
		</div>
		<div ng-show="mensajeSuccess" class="alert alert-success text-center" role="alert">
  			{{mensaje}}
		</div>
		<form name="myForm">
			<div class="container" style="width: 300px;">
				<div class="form-group">
					<label for="nombre">Nombre</label>
					<input id="nombre" type="text" class="input-lg text-center" placeholder="nombre" ng-model="nuevoUsuario.nombre" required>
				</div>	
				<div class="form-group">
					<label for="email">Correo electrónico</label>
					<input id="email" type="email" class="input-lg text-center" placeholder="ejemplo@dominio.com" ng-model="nuevoUsuario.email" required>
				</div>
				<div class="form-group">
					<label for="pass">Contraseña</label>
					<input id="pass" type="password" class="input-lg text-center" placeholder="******" ng-model="nuevoUsuario.pass"required>
				</div>
				<div class="form-group">
					<label for="pass2">Repita contraseña</label>
					<input id="pass2" type="password" class="input-lg text-center" placeholder="******" ng-model="nuevoUsuario.pass2"required>
				</div>
				<div class="form-group">
					<label for="Tipo">Seleccione tipo de usuario</label>
					<select id="tipo"style="width: 95%;" ng-model="nuevoUsuario.tipo" class="input-lg text-center"required>
					  <option>Estandar</option>
					  <option>Administrador</option>
					</select>
				</div>

				<div class="form-group">
					<button class="btn btn-success btn-lg" ng-click="registrarPersona()" ng-disabled="myForm.$invalid">Crear usuario</button>
					<button class="btn btn-danger btn-lg" ng-click="volverGestion()">Cancelar</button>
				</div>
			</div>
		</form>
	
	</div>
</div>

<link href="./styles/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="./styles/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="reloj.js"></script>
<script src="../angular/angular.min.js"></script>
<script src="../angular/angular-route.js"></script>
<script src="../angular/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="../angular/usuario.js"></script>
<script src="../angular/angular-cookies.js"></script>
</body>
</html>
