<html ng-app="Acceso">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>
		Gestión de Riesgos de Proyecto Software
	</title>
</head>
<body onload="Comenzar()" ng-controller="AccesoController">
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">GRPS</a></h1>
			<h3><a href="#">Gestión de Riesgos de Proyecto Software</a></h3>
			</br>
		</div>
		<div ng-show="invitado" id="menu">
			<ul>
				<li><a href="index.html" accesskey="1" title="">Página Principal</a></li>
				<li class="active"><a href="links.html" accesskey="4" title="">Links</a></li>
				<li><a href="login.html" accesskey="5" title="">Iniciar sesión</a></li>
			</ul>
		</div>
		<div ng-show="registrado" id="menu">
			<ul>
				<li><a href="index.html" accesskey="1" title="">Página Principal</a></li>
				<li><a href="proyectos.html" accesskey="2" title="">Proyectos</a></li>
				<li class="active"><a href="links.html" accesskey="4" title="">Links</a></li>
				<li><a href="cerrarSesion.html" accesskey="5" title="">Cerrar sesión</a></li>
			</ul>
		</div>
		<div ng-show="administrador" id="menu">
			<ul>
				<li class="active"><a href="index.html" accesskey="1" title="">Página Principal</a></li>
				<li><a href="proyectos.html" accesskey="2" title="">Proyectos</a></li>
				<li class="active"><a href="links.html" accesskey="3" title="">Links</a></li>
				<li><a href="gestion.html" accesskey="4" title="">Gestión</a></li>
				<li><a href="cerrarSesion.html" accesskey="5" title="">Cerrar sesión</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="liveclock"></div>
<div class="wrapper">
	<div id="welcome" class="container">
	<div class="title">
		<h3>Enlaces de interés</h3>
	</div>
	<p>
		<ol id="listaNumerada">
			<li>
				<a href="http://equipo7-pis116eq7.rhcloud.com/">Redmine - Equipo de trabajo 7</a>
			</li>
			<li>
				<a href="http://www.ual.es/">Universidad de Almería</a>
			</li>
			<li>
				<a href="http://cvirtual.ual.es/guiado/servlet/bin?id=20061_CAS">Guía docente de la asignatura</a>
			</li>
			<li>
				<a href="http://www.tecnalia.com/es/ict-european-software-institute/index.htm">ICT - European Software Institute (ESI)</a>
			</li>
			<li>
				<a href="http://www.sei.cmu.edu/">Software Engineering Institute - Carnegie Mellon</a>
			</li>
			<li>
				<a href="https://www.formacionactivate.es/#cursos_online_title">Google: Diplomados con Certificación Gratis</a>
			</li>
			<li>
				<a href="https://msdn.microsoft.com/es-es/jj687952">Microsoft University Tour 2015</a>
			</li>
		</ol>
	</p
	</div>
</div>
<link href="./styles/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="./styles/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="reloj.js"></script>
<script src="../angular/angular.min.js"></script>
<script src="../angular/angular-route.js"></script>
<script src="../angular/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="../angular/acceso.js"></script>
<script src="../angular/angular-cookies.js"></script>
</body>
</html>
